@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/yellow";

.app,
.app_drawer {
    background: var(--bg-color);
    min-height: 100vh;
}

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.content-page {
    display: flex;
}
