.ArticleListItemRedesign {
}

.BIG {
    .img {
        height: 420px;
        width: 100%;
        object-fit: cover;
    }

    .textBlock {
        height: 150px;
        overflow: hidden;
    }
}
