.BIG {
    .img {
        height: 420px;
        width: 100%;
        object-fit: cover;
    }

    .textBlock {
        height: 150px;
        overflow: hidden;
    }
}

.SMALL {
    .card {
        width: 240px;
        height: 350px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .img {
        width: 100%;
        object-fit: cover;
        min-height: 140px;
        max-height: 140px;
    }

    .info {
        /* stylelint-disable-next-line shorthand-property-no-redundant-values */
        padding: 8px 8px 16px 8px;
        height: 100%;
    }

    .footer {
        height: 100%;
        justify-content: flex-end;
    }
}

.ArticleListItemRedesign {
    &.BIG {
        width: 100%;
    }

    &.SMALL {
        width: 240px;
        height: 350px;
    }
}
