.ArticleListItemRedesign {
   
}

.BIG {

    .img {
        height: 420px;
        width: 100%;
        object-fit: cover;
    }
    .textBlock {
        height: 200px;
        overflow: hidden;
    }
}
