.options {
    position: absolute;
    background-color: var(--dark-bg-redesign);
    z-index: 10000;
    border: 12px;
    box-shadow: 4px 4px 4px 4px var(--dark-bg-redesign);
}

.item {
    padding: 10px 20px;
}

.selected {
    background: var(--light-bg-redesign);
}
