version: '3.8'

services:
    frontend:
        build: .
        ports:
            - '3000:80'

    api:
        image: node:20-alpine
        working_dir: /app
        volumes:
            - ./json-server:/app
        command: node index.js
        ports:
            - '8081:8081'
