version: '3.8'

services:
    frontend:
        build: .
        ports:
            - '3000:80'
        environment:
            - API_URL=http://api:8081
        depends_on:
            - api

    api:
        build:
            context: .
            dockerfile: Dockerfile.api
        ports:
            - '8081:8081'
