.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    color: var(--primary-color);
}
.overlay {
    background-color: rgb(0 0 0 / 60%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 16px;
    background-color: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 70%;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}
