.Icon {
    color: var(--icon-redesign);
}

.button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.button:hover .Icon {
    color: var(--accent-redesign);
}
