.ArticleList{
}
.BIG{
 .card{
  background-color: var(--card-bg);
   margin-bottom: 30px;
   border-radius: 20px;
   padding: 15px;
 }
}
.SMALL{
  display: flex;
  flex-wrap: wrap;
  .card{
  background-color: var(--card-bg);
  margin-right: 16px;
  margin-bottom: 30px;
}
}
