.BIG {
  .header{
    display: flex;
    align-items: center;
  }
  .views{
    margin-left: auto;
  }
  .eyeIcon{
    margin-left: 8px;
  }
  .avatar{
  }
  .username{
    margin-left: 10px;
  }
  .createdAt{  
    margin-left: auto;
  }
  .title{
    margin-top: 10px;
  }
  .img{
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin: 16px 0px;
  }
  .type{
  }
  .footer{
    display: flex;
    align-items: center;
  }
  .textBlock{
    max-height: 250px;
    overflow-y: hidden;
  }

}



.SMALL{
  width: 230px;
  transition: 0.25s;
  cursor: pointer;
.card{
 padding: 15px;
 background-color: var(--card-bg);
 border-radius: 12px;
}
.imageWrapper{
  width: 200px;
  height: 200px;
  position: relative;
  
}
.img{
  height: 200px;
  width: 200px;
  }
.date{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
 &:hover{
  opacity: 0.8;
  transform: scale(1.01);
 .date {
    display: block;
  } 
}
 
.textWrapper{
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.type p{
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.views{
  margin-left: auto;
  margin-right: 8px;
}
.title{
  margin-top: 8px;
}
.title p{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
}