.InputWrapper{
    display: flex;
}
.input{
    border: none;
    background: transparent;
    color: var(--primary-color);
    outline: none;
    caret-color: transparent;
    
    &:focus{
        outline: none;
    }
}
.placeholder{
    margin-right: 5px;
}
.caretWrapper{
    flex-grow: 1;
    position: relative;
    
}
.caret{
    position: absolute;
    height: 3px;
    width: 9px;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
    animation: blink 1s forwards infinite;
    
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        
        opacity: 0.01;
    }
    100%{
            opacity: 1;
    }
}