.popUp {
    position: relative;
}

.menu {
    border-radius: 18px;
    border: 1px solid var(--accent-redesign);
    overflow: hidden;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.active {
    background-color: var(--light-bg-redesign);
}

.disabled {
    opacity: 0.4;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}
