.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0452ff;
    --inverted-secondary-color: #0232c2;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --code-btn: #1212a1;
    --card-bg: #0d0d6b;
    --list-box-bg: #0d0d6b;

    // redesign colors
    --dark-bg-redesign: #090f11;
    --bg-redesign: #0c1214;
    --light-bg-redesign: #151c1f;
    --text-redesign: #dbdbdb;
    --hint-redesign: #555;
    --cancel-redesign: #d95757;
    --save-redesign: #6cd98b;
    --icon-redesign: #74a2b2;
    --accent-redesign: #5ed3f3;
}
