:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #306ae7;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-btn: #fff;
    --card-bg: #d5d5d7;
    --list-box-bg: #d5d5d7;

    // redesign colors
    --dark-bg-redesign: #ffff;
    --bg-redesign: #eff5f6;
    --light-bg-redesign: #e2eef1;
    --text-redesign: #141c1f;
    --hint-redesign: #adbcc0;
    --cancel-redesign: #f77;
    --save-redesign: #62de85;
    --icon-redesign: #5ed3f3;
    --accent-redesign: #00c8ff;
}
