.app_yellow_theme {
    --bg-color: #7e7f2d;
    --inverted-bg-color: #fbfbf4;
    --primary-color: #eeee9d;
    --secondary-color: #fcfcfc;
    --inverted-primary-color: #623e22;
    --inverted-secondary-color: #a58770;
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
    --code-btn: #fff;
    --card-bg: #d5d5d7;
    --list-box-bg: #d5d5d7;

    // redesign colors
    --dark-bg-redesign: #fff3d6;
    --bg-redesign: #f0c048;
    --light-bg-redesign: #f2d791;
    --text-redesign: #1b1311;
    --hint-redesign: #b8b2a2;
    --cancel-redesign: #ff5e5e;
    --save-redesign: #52fa81;
    --icon-redesign: #4875f0;
    --accent-redesign: #1d59ff;
}
