.app_yellow_theme {
    --bg-color: #7e7f2d;
    --inverted-bg-color: #fbfbf4;
    --primary-color: #eeee9d;
    --secondary-color: #fcfcfc;
    --inverted-primary-color: #623e22;
    --inverted-secondary-color: #a58770;

    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    --code-btn:#fff;

    --card-bg: #d5d5d7;
}
