.app_yellow_theme {
    --bg-color: #7e7f2d;
    --inverted-bg-color: #fbfbf4;
    --primary-color: #f2f2df;
    --secondary-color: #f3f3ea;
    --inverted-primary-color: #623e22;
    --inverted-secondary-color: #a58770;
}
