.MainLayout {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: 284px 1fr 176px;
}

.header {
    justify-self: flex-end;
}

.content {
    grid-area: content;
    max-width: 1200px;
    justify-self: center;
    padding: 32px;
}

.sidebar {
    grid-area: sidebar;
    justify-self: center;
    padding: 32px;
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sidebar,
.rightbar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.toolbar {
    justify-self: end;
    height: 100%;
}
