.MainLayout {
    min-height: 100vh;
    display: grid;
    /* stylelint-disable-next-line string-quotes */
    grid-template-areas: 'sidebar content rightbar';
    grid-template-columns: min-content 1fr 100px;
}

.header {
    justify-self: flex-end;
}

.content {
    grid-area: content;
    max-width: 1200px;
    justify-self: center;
    padding: 32px;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    padding: 32px;
    max-width: 284px;
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sidebar,
.rightbar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.toolbar {
    justify-self: end;
    height: 100%;
}
