.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
  
}
.dropDown, .actions, .links {
    margin-left: auto;
}
.notification{
    
}
.mainLink {
    margin-right: 15px;
}
.createLink{
    margin-right: 15px;
}
.appName{
    width: var(--sidebar-width);
    margin-left: 15px;
}