.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.NavbarRedesign {
    padding: 16px;
}

.actions,
.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.createLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}
