.Button {
    cursor: pointer;
    color: var(--text-redesign);
    padding: 8px 16px;
    display: flex;
    align-items: center;

    & :hover {
        color: var(--accent-redesign);

        .addonLeft svg,
        .addonRight svg {
            color: var(--accent-redesign);
        }
    }
}

.withAddon {
    padding: 0 16px;
}

.addonLeft,
.addonRight {
    display: flex;
}

.addonLeft svg,
.addonRight svg {
    color: var(--hint-redesign);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 2px solid var(--icon-redesign);
    color: var(--text-redesign);
    border-radius: 34px;
    background: none;

    & :hover {
        border: 2px solid var(--accent-redesign);
    }
}

.Button:focus,
.Button:focus-visible {
    outline: none;
}

.filled {
    border: none;
    outline: none;
    background: var(--light-bg-redesign);
    border-radius: 34px;
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-m-redesign);
    height: var(--font-m-redesign);
}

.square.l {
    width: var(--font-l-redesign);
    height: var(--font-l-redesign);
}

.square.xl {
    width: var(--font-xl-redesign);
    height: var(--font-xl-redesign);
}

.m {
    font: var(--font-m-redesign);
}

.l {
    font: var(--font-l-redesign);
}

.xl {
    font: var(--font-xl-redesign);
}
