.card {
    padding: 24px;
    background-color: var(--card-bg);
}

.withoutPaddings {
    padding: 0;
}

.outlined {
    border: 1px solid var(--accent-redesign);
}

.round {
    border-radius: 40px;
}

.normal {
    border-radius: 12px;
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}
