.normal {
    fill: none;
}

.starIcon {
    fill: none;
}

.selected {
    cursor: auto;
}

.StarRating {
    cursor: pointer;

    .hovered {
        fill: var(--primary-color);
    }
}

.StarRatingRedesign {
    cursor: pointer;

    .normal {
        fill: none;
    }

    .hovered {
        fill: var(--icon-redesign);
    }
}
