.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 16px;
    border: 2px solid var(--icon-redesign);
    height: 38px;
    width: 100%;
}

.focused {
    border: 2px solid var(--accent-redesign);
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.input {
    border: none;
    color: var(--text-redesign);
    outline: none;
    caret-color: transparent;
    background: none;

    &:focus {
        color: var(--hint-redesign);
    }
}

.readonly {
    opacity: 0.7;
}
